@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-size: medium;
    font-weight: 700;
    color: #86868B;
}

h3, li, #nav-item {
    font-size: small;
    color: #86868B;
}

.btn {
    background-color: #FFAF1F;
    border-color: #151515;
    color: #151515;
    border-radius: 20px;
}